numpy
pandas
scikit-learn
scikit-optimize
matplotlib
seaborn
scapy
pyyaml
pyshark
joblib
tensorflow
flask
django
pymongo
pytest
loguru
mysql-connector-python
SQLAlchemy
kafka-python
requests
marshmallow
python-dotenv
imbalanced-learn
xgboost
ifaddr
netifaces
scikit-optimize
skfeature
fcbf
skopt