auto_mix_prep==0.2.0
imbalanced_learn==0.12.3
joblib==1.4.2
numpy
pandas==2.2.2
scapy==2.5.0
scikit_learn==1.5.1
statsmodels==0.14.2
altair==5.4.1
graphviz==0.20.3
keras==3.4.1
keras_tuner==1.4.7
matplotlib==3.9.2
psutil==6.0.0
scikit_optimize==0.10.2
scipy==1.14.1
seaborn==0.13.2
tensorflow==2.17.0
tensorflow_intel==2.17.0